<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/imgs/user.svg" alt="">
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

      </ion-list>
      <ion-list>

      </ion-list>
      <div class="btn-panel">
        <button ion-button full color="primary" (click)="authenticate()">Login</button>
        <h1>Or</h1>
        <button ion-button full color="secondary">Register</button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>

<!-- <div class="container">
  <label for="userName">Username</label>
  <input type="text" id="userName">

  <label for="password">Password</label>
  <input type="password" id="password">

  <div class="btn-panel">
    <button>Login</button>
    <hr>
    <span>Or</span>
    <a href="">Sign Up</a>
  </div>
</div> -->